img {
    border-radius: 30px;
    filter: saturate(90%);
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
} 

.grid-container {
    background-color: rgb(219, 233, 246);
    display: grid;
    text-align: center;
    border-radius: 20px;
}


